@import "../../node_modules/@mdxeditor/editor/dist/style.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	@font-face {
		font-family: 'Texta Black';
		src: url('../fonts/TextaBlack.ttf');
	}

	@font-face {
		font-family: 'Franklin Gothic Regular';
		src: url('../fonts/FranklinGothicRegular.ttf');
	}

	@font-face {
		font-family: 'Franklin Gothic Medium';
		src: url('../fonts/FranklinGothicMedium.ttf');
	}

	.arrow-move-trigger:hover .arrow-move-effect {
		@apply translate-x-2;
	}

	 .condition-row {
		@apply border-t;
		@apply border-whisper;
	}

	td[rowspan] {
		@apply border-r;
		@apply border-whisper;
	}
  :root {
		--radius: 0.5rem;
	}
}

@layer utilities {
	.webkit-scrollbar-none::-webkit-scrollbar {
		display: none;
	}

	.heading-1 {
		@apply text-3xl;
		@apply md:text-4xl;
		@apply lg:text-5xl;
		@apply font-texta-black;
	}

	.heading-2 {
		@apply text-2xl;
		@apply sm:text-3xl;
		@apply md:text-4xl;
		@apply font-texta-black;
	}

	.heading-3 {
		@apply text-2xl;
		@apply md:text-3xl;
		@apply font-texta-black;
	}

	.article-container {
		@apply max-w-screen-md;
		@apply mx-auto;
	}

	.auth-card {
		@apply mx-auto;
		@apply max-w-md;
		@apply sm:w-full;
		@apply sm:max-w-xl;
	}

}

@layer components {
	.navlink-hover-effect {
		animation: fillPseudo 250ms 100ms ease forwards;
	}

	.slide {
		flex: 0 0 100%;
		@apply min-w-full;
	}

}

html,
body {
	@apply bg-[#f8f8f8];
	@apply text-dark;
	@apply font-franklin-regular;
}

.mdxeditor {
	@apply bg-white;
	@apply font-franklin-regular;
	@apply border;
	@apply border-whisper;
	@apply focus:outline-none;
	@apply focus:border-transparent;
	@apply focus:ring-2;
	@apply focus:ring-primary;
	@apply transition-all;
}

.ui.modal {
	will-change: unset;
}

.mdxeditor-toolbar {
	@apply border-b;
	@apply border-whisper;
	@apply rounded-none;
}

.mdxeditor-root-contenteditable {
	@apply min-h-[300px];
	@apply md:min-h-[400px];
}

.mdxeditor-root-contenteditable h1, .article h1 {
	@apply heading-1;
}

.mdxeditor-root-contenteditable h2, .article h2 {
	@apply heading-2;
}

.mdxeditor-root-contenteditable h3, .article h3 {
	@apply heading-3;
}

.mdxeditor-root-contenteditable blockquote, .article blockquote {
	@apply pl-2;
	@apply border-l-[3px];
	@apply border-whisper;
	@apply font-franklin-medium;
	@apply text-dark/50;
	@apply italic;
}

.mdxeditor-root-contenteditable [data-editor-block-type] img, .article img {
	@apply w-full;
	@apply object-cover;
	@apply object-center;
}

.mdxeditor-root-contenteditable [data-editor-block-type] {
	@apply w-full;
	@apply aspect-video;
	@apply overflow-y-hidden;
}

.custom-select {
	@apply appearance-none;
	@apply bg-white;
	@apply border;
	@apply border-whisper;
	@apply rounded-none;
	@apply px-4;
	@apply py-2;
	@apply pr-8;
	@apply text-dark;
	@apply font-franklin-regular;
	@apply focus:outline-none;
	@apply focus:border-transparent;
	@apply focus:ring-2;
	@apply focus:ring-primary;
	@apply transition-all;
}

@media (max-width: 475px) {
	.auth-card {
		@apply w-11/12;
	}
}

@media (min-width: 889px) {
	header  nav {
		@apply justify-center;
	}
}

@keyframes fillPseudo {
	from {width: 0%}
	to {width: 100%;}
}
