@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	@font-face {
		font-family: 'Texta Black';
		src: url('../fonts/TextaBlack.ttf');
	}

	@font-face {
		font-family: 'Franklin Gothic Regular';
		src: url('../fonts/FranklinGothicRegular.ttf');
	}

	@font-face {
		font-family: 'Franklin Gothic Medium';
		src: url('../fonts/FranklinGothicMedium.ttf');
	}

	.new_slide_link:hover .arrow-move-effect, 
	.priority_block:hover .arrow-move-effect {
		@apply translate-x-2;
	}
}

@layer utilities {
	.webkit-scrollbar-none::-webkit-scrollbar {
		display: none;
	}

	.heading-1 {
		@apply text-3xl;
		@apply md:text-4xl;
		@apply lg:text-5xl;
		@apply font-texta-black;
	}

	.heading-2 {
		@apply text-2xl;
		@apply sm:text-3xl;
		@apply md:text-4xl;
		@apply font-texta-black;
	}
}

@layer components {
	.navlink-hover-effect {
		animation: fillPseudo 250ms 100ms ease forwards;
	}

	.slide {
		flex: 0 0 100%;
		@apply min-w-full;
	}

}

html,
body {
	@apply bg-[#f8f8f8];
	@apply text-dark;
	@apply font-franklin-regular;
}

@media (min-width: 889px) {
	header  nav {
		@apply justify-center;
	}
}

@keyframes fillPseudo {
	from {width: 0%}
	to {width: 100%;}
}
